<div id="next-view-section-subheader" class="next-view-section-subheader {{if @hideActions 'actions-hidden'}}" ...attributes>
    <div id="next-view-section-subheader-left" class="next-view-section-subheader-left {{@leftSubheaderClass}}">
        <div class="flex flex-row items-center">
            {{#if @badge}}
                <span class="mr-2 {{@badgeContainerClass}}">
                    <Badge @status={{@badge}} @hideStatusDot={{@hideStatusDot}} class={{@badgeClass}} @disableHumanize={{@disableBadgeHumanize}} />
                </span>
            {{/if}}
            {{#if @icon}}
                <FaIcon @icon={{@icon}} @size={{@iconSize}} @prefix={{@iconPrefix}} class="{{@iconClass}} mr-2" />
            {{/if}}
            <h2 id="next-view-section-subheader-title" class="next-view-section-subheader-title">{{@title}}</h2>
            {{#if @subtitle}}
                <div>
                    {{@subtitle}}
                </div>
            {{/if}}
        </div>
        {{#if @onSearch}}
            <Input @type="text" @value={{@searchQuery}} aria-label={{t "phrases.search-input"}} placeholder={{or @searchPlaceholder (concat (t "terms.search") " " (pluralize @title))}} class="w-64 ml-3 form-input form-input-sm {{@searchInputClass}}" {{on "keyup" @onSearch}} />
        {{/if}}
    </div>
    {{#unless @hideActions}}
        <div id="next-view-section-subheader-actions" class="next-view-section-subheader-actions {{@actionsWrapperClass}}">
            {{yield}}
        </div>
    {{/unless}}
</div>