<div class="field-info-container {{if @customField.meta.colSpan (concat 'col-span-' @customField.meta.colSpan) ''}}">
    <div class="field-name">{{@customField.label}}</div>
    <div class="field-value">
        {{#if this.isBoolean}}
            <Badge @status={{if this.value "success" ""}}>{{if this.value "Yes" "No"}}</Badge>
        {{else}}
            {{n-a this.value}}
        {{/if}}
    </div>
</div>