<div class="chat-message-container {{if this.chatMessage.attachments "has-attachments"}}">
    <div class="chat-message-sender-bubble">
        <Image src={{this.chatMessage.sender.avatar_url}} @fallbackSrc={{config "defaultValues.userImage"}} alt={{this.chatMessage.sender.name}} />
        <div class="chat-message-sender-name">{{this.chatMessage.sender.name}}</div>
        <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
            <InputInfo @text={{this.chatMessage.sender.name}} />
        </Attach::Tooltip>
    </div>
    <div class="chat-message-content-bubble-container {{if this.chatMessage.attachments "has-attachments"}}">
        {{#if this.chatMessage.attachments}}
            <div class="chat-message-attachments-container">
                {{#each this.chatMessage.attachments as |attachment|}}
                    <ChatWindow::Attachment @record={{attachment}} />
                {{/each}}
            </div>
        {{/if}}
        <div class="chat-message-content-bubble {{if (eq this.chatMessage.sender_uuid this.currentUser.id) 'sender-bubble'}}">
            {{this.chatMessage.content}}
        </div>
        <div class="chat-message-created-at">{{this.chatMessage.createdAgo}}</div>
    </div>
</div>