<a href="#" {{on "click" this.onClick}} disabled={{not @value}} ...attributes>
    {{#if (has-block)}}
        {{yield}}
    {{else}}
        <span class={{@anchorSpanClassnames}}>{{get-default-value @value "-"}}</span>
    {{/if}}
</a>