<div aria-label={{n-a @value}}>
    <span class={{@column.cellClassNames}}>
        {{#if (has-block)}}
            {{yield}}
        {{else}}
            {{n-a @value}}
        {{/if}}
    </span>
</div>