<div class="cell-dropdown-button overflow-visible {{@column.wrapperClass}}" {{did-insert this.setupComponent}} ...attributes>
    <DropdownButton
        @icon={{@column.ddButtonIcon}}
        @iconPrefix={{@column.ddButtonIconPrefix}}
        @text={{this.buttonText}}
        @size="xs"
        @horizontalPosition="left"
        @calculatePosition={{this.calculatePosition}}
        @renderInPlace={{true}}
        as |dd|
    >
        <div class="next-dd-menu mt-0i" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            {{#if @column.ddMenuLabel}}
                <div class="px-1">
                    <div class="text-sm flex flex-row items-center px-3 py-1 rounded-md my-1 text-gray-800 dark:text-gray-300">
                        {{@column.ddMenuLabel}}
                    </div>
                </div>
                <div class="next-dd-menu-seperator"></div>
            {{/if}}
            {{#each @column.actions as |columnAction|}}
                <Table::Cell::Dropdown::ActionItem @columnAction={{columnAction}} @row={{@row}} @column={{@column}} @dd={{dd}} />
            {{/each}}
        </div>
    </DropdownButton>
</div>