{{#if @inHead}}
    <th class="{{if @sortable 'is-sortable'}}" ...attributes {{did-insert this.setupComponent}}>
        <div class="th-inner-wrapper">
            <span class="th-content">{{yield}}</span>
            {{#if @sortable}}
                <span class="sort-icon-wrapper">
                    <FaIcon @icon="caret-up" class="sort-icon" class={{unless @isAscending "opacity-50"}} />
                    <FaIcon @icon="caret-down" class="sort-icon" class={{unless @isDescending "opacity-50"}} />
                </span>
            {{/if}}
        </div>
        {{#if @resizable}}
            <Table::Cell::Resizer />
        {{/if}}
    </th>
{{else}}
    <td ...attributes {{did-insert this.setupComponent}}>{{yield}}</td>
{{/if}}