<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name="Field Group Name" @value={{@options.customFieldGroup.name}} />
    </div>
</Modal::Default>