<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InfoBlock @type="info" @icon="lightbulb" @iconSize="lg" class="mb-5">
            <div class="font-extrabold">Verify your email address.</div>
            <div>Re-verify your email address and click Send to continue.</div>
        </InfoBlock>

        <InputGroup
            @type="email"
            @name="Verify your email address"
            @value={{@options.email}}
            @helpText="Have a second look and confirm your email address is correct."
            @inputClass="input-lg"
        />
    </div>
</Modal::Default>