<div class="next-user-button" ...attributes>
    <BasicDropdown @registerAPI={{this.registerAPI}} @defaultClass={{@wrapperClass}} @onOpen={{@onOpen}} @onClose={{@onClose}} @verticalPosition={{@verticalPosition}} @horizontalPosition={{@horizontalPosition}} @renderInPlace={{true}} @initiallyOpened={{@initiallyOpened}} as |dd|>
        <dd.Trigger class={{@triggerClass}}>
            <div class="next-org-button-trigger flex-shrink-0 {{if dd.isOpen 'is-open'}}">
                <FaIcon @icon="message" />
                {{!-- {{#if this.notifications.length}}
                    <div class="chat-tray-unread-notifications-badge">{{this.notifications.length}}</div>
                {{/if}} --}}
            </div>
        </dd.Trigger>
        <dd.Content class="chat-tray-panel-container">
            <div class="chat-tray-panel">
                <div class="p-4">
                    <Button @type="primary" @text="Start Chat" @onClick={{this.startChat}} />
                </div>
                <div class="flex flex-col space-y-2 px-4 py-2">
                    {{#each this.channels as |channel|}}
                        <div class="flex items-center">
                            <button type="button" class="flex flex-col rounded-lg border border-black text-white bg-gray-700 px-2 py-1 shadow-sm w-full" {{on "click" (fn this.openChannel channel)}}>
                                <div class="font-bold mb-2">{{n-a channel.title "Untitled Chat"}}</div>
                                <div class="flex flex-row items-center">
                                    <div class="w-14">
                                        <Image src={{channel.lastMessage.sender.avatar_url}} @fallbackSrc={{config "defaultValues.userImage"}} alt={{channel.lastMessage.sender.name}} class="rounded-full shadow-sm w-12 h-12" />
                                    </div>
                                    <div class="text-sm truncate text-black">{{channel.lastMessage.content}}</div>
                                </div>
                            </button>
                            <div class="px-4">
                                <button type="button" {{on "click" (fn this.removeChannel channel)}}>
                                    <FaIcon @icon="times" @size="sm" />
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </dd.Content>
    </BasicDropdown>
</div>