<div class="chat-window-container" {{did-insert this.positionWindow}} ...attributes>
    <div class="chat-window-controls-container">
        <div class="chat-window-name">
            {{n-a this.channel.name "Untitled Chat"}}
        </div>
        <div class="chat-window-controls">
            <DropdownButton class="chat-window-button" @icon="user-plus" @size="sm" @iconPrefix="fas" @triggerClass="hidden md:flex" as |dd|>
                <div class="next-dd-menu mt-1 mx-0" aria-labelledby="user-menu">
                    <div class="p-1">
                        {{#each this.availableUsers as |user|}}
                            <a href="javascript:;" class="next-dd-item" {{on "click" (dropdown-fn dd this.addParticipant user)}}>
                                <div class="flex-1 flex flex-row items-center">
                                    <div class="w-6">
                                        <FaIcon @icon="user" />
                                    </div>
                                    <span>{{user.name}}</span>
                                </div>
                            </a>
                        {{/each}}

                    </div>
                </div>
            </DropdownButton>
            <button type="button" class="chat-window-button chat-window-close-button" {{on "click" this.closeChannel}}>
                <FaIcon @icon="times" @size="sm" />
            </button>
        </div>
    </div>
    <div class="chat-window-participants-container">
        {{#each this.channel.participants as |chatParticipant|}}
            <div class="chat-window-participant-bubble-container">
                <Image src={{chatParticipant.avatar_url}} @fallbackSrc={{config "defaultValues.userImage"}} alt={{chatParticipant.name}} class="chat-window-participant-bubble" />
                <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
                    <InputInfo @text={{chatParticipant.name}} />
                </Attach::Tooltip>
                <button type="button" class="chat-window-remove-participant" {{on "click" (fn this.removeParticipant chatParticipant)}}>
                    <FaIcon @icon="times" @size="sm" />
                </button>
            </div>
        {{/each}}
    </div>
    <div class="chat-window-messages-container" {{did-insert this.autoScrollMessagesWindow}}>
        <div class="chat-window-messages">
            {{#each this.channel.messages as |chatMessage|}}
                <div class="chat-message-container">
                    <div class="chat-message-sender-bubble">
                        <Image src={{chatMessage.sender.avatar_url}} @fallbackSrc={{config "defaultValues.userImage"}} alt={{this.sender.name}} />
                        <div class="chat-message-sender-name">{{chatMessage.sender.name}}</div>
                        <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
                            <InputInfo @text={{chatMessage.sender.name}} />
                        </Attach::Tooltip>
                    </div>
                    <div class="chat-message-content-bubble-container">
                        <div class="chat-message-content-bubble {{if (eq chatMessage.sender_uuid this.currentUser.id) 'sender-bubble'}}">
                            {{chatMessage.content}}
                        </div>
                        <div class="chat-message-created-at">{{chatMessage.createdAgo}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="chat-window-input-container">
        <div class="chat-window-input-box">
            <Textarea @value={{this.pendingMessageContent}} placeholder="Type your message here" class="chat-window-input" rows="3" />
        </div>
        <div class="chat-window-submit-container">
            <Button @type="primary" @icon="paper-plane" @text="Send" @onClick={{this.sendMessage}} />
        </div>
    </div>
</div>