<PowerSelect class="money-input-currency-selector" @matcher={{this.searchCurrencies}} @searchEnabled={{true}} @searchField="code" @searchPlaceholder="Search by currency code" @renderInPlace={{true}} @options={{this.currencies}} @selected={{this.currencyData}} @onChange={{fn this.onChange}} @triggerComponent={{component "money-input/currency-handle" currency=this.currencyData}} as |currency|>
    <div class="truncate flex items-center">
        <div class="w-16">
            <span>{{currency.emoji}}</span>
            <strong>{{currency.code}}</strong>
        </div>
        <span class="w-4">-</span>
        <span>{{currency.title}}</span>
    </div>
</PowerSelect>