<div class="timeline timeline-activity-{{@activity.length}}" {{did-insert (fn this.setupComponent)}} ...attributes>
    <div class="timeline-controls {{@controlsClass}}">
        <button {{on "click" this.previous}} class="timeline-arrow-left {{@arrowClass}} {{@arrowLeftClass}}" disabled={{eq this.startIndex 0}}>&larr;</button>
    </div>

    <div class="timeline-wrapper {{@wrapperClass}}">
        {{#each this.visibleTimelineData as |activity|}}
            {{yield (component "timeline/item" activity=activity context=this.context)}}
        {{/each}}
    </div>

    <div class="timeline-controls {{@controlsClass}}">
        <button {{on "click" this.next}} class="timeline-arrow-right {{@arrowClass}} {{@arrowRightClass}}" disabled={{eq this.endIndex (sub this.args.activity.length 1)}}>&rarr;</button>
    </div>
</div>